<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604975701397-6365ccbd028a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxzZWFyY2h8M3x8Y2luZW1hJTIwdGhlYXRyZXx8MHx8fA&ixlib=rb-1.2.1&q=80&w=1080);">
  <div class="container">
    <h1>Like letterboxd but for even <strong data-controller="rough-notation" data-rough-notation-style-value="box">bigger nerds</strong>!</h1>
    <%= link_to 'Make a list', new_list_path, class: 'btn btn-danger mt-2'  %>
  </div>
</div>
<div class="container my-4">
  <div class="cards">
    <div class="row">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://thumbs.dreamstime.com/b/young-movie-director-speaking-megaphone-black-beret-holding-clapperboard-isolated-white-background-54105357.jpg' %>)">
          <h2><%= link_to list.name, list_path(list)  %></h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
