<div class="container mt-3">
  <h1 data-controller="rough-notation" data-rough-notation-style-value="box">Add a list</h1>
  <%= render 'lists/form', list: @list %>
  <p><%= link_to 'Back to list', lists_path  %></p>
</div>
